﻿@using NumberJumbler.ViewModels
@model NumberJumblerHomeViewModel

<div class="jumbotron">
    <h1>Welcome To Number Jumbler</h1>
    <p class="lead">Upload a csv file and see the magic! Number Jumbler finds the highest occuring number in an increasing sorted list of numbers provided it occurs more than half of the size of the  input list</p>
    <p><a href="https://bitbucket.org/maestro_alfredo/number-jumbler" class="btn btn-primary btn-lg">View Source on Bitbucket &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Choose file to Upload
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                            <div class="form-group panel-body" style="margin-bottom:0px">
                                <div class="input-group" role="group">
                                    <span class="input-group-btn">
                                        <label class="btn btn-default form-control" style="border-bottom-left-radius:4px; border-top-left-radius:4px">Upload @Html.DisplayFor(x => x.File)</label>
                                    </span>                                  
                                    <input type="text" placeholder="Choose File" id="n2" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group panel-body" style="margin-bottom:0px">                               
                                @Html.CheckBoxFor(m => m.CheckError, new { @class = "checkbox-inline", name = "checkError" })
                                <text>Check file for errors</text>
                            </div>
                            <div class="form-group panel-body" style="margin-bottom:0px">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-primary">Jumble</button>
                                    <button type="reset" class="btn btn-default">Clear</button>
                                </div>
                            </div>
                    }
                </div>
            </div>   
        </div>
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">NumberJumbler Result</div>
                <div class="panel-body">
                   <h2>@Html.DisplayTextFor(m=>m.Result.Result)</h2>
                </div>
            </div>  
        </div>      
    </div>



    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@
</div>
